*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.poster{
    background-image: linear-gradient(140deg,#00dbde,#fc00ff);
    width: 100%;
    height: 90vh;
    position: relative;
}
.poster > svg {
    position: absolute;
    bottom: 0px;
}
.qr {
    font-size: 22rem;
    color: #FFFFFF;
    opacity: 30%;
    position: relative;
    font-family: 'Monoton', cursive;
    font-weight: 800;
  
}
.text {
    position: absolute;
    top: 20%;
    color: white;
    left: 15px;
    font-family: 'Rubik', sans-serif;
    font-size: 40px;
}
.poster > label > input {
     position: absolute; 
    height: 2.5rem;
    width: 190px;
    border-radius: 25px;
    background-color: #fff;
    box-sizing: border-box;
    border: none;
    opacity: 70%; 
    padding-left: 10px;
}
.poster > label > input::-webkit-input-placeholder { /* WebKit browsers */
    padding-left: 5%
} 

.poster > label > button {
    position: absolute;
    left: 200px;
    width: 190px;
    height: 2.5rem;
    border-radius: 25px;
    box-sizing: border-box;
    border: none;
    background-color: #fe346e;
    color: white;
    font-size: 15px;
}
.img {
    position: absolute;
    right: 20%;
    top: 40%;
    width: 270px;
    height: 270px;
    
}
.successfully {
    position: absolute;
    top: 5px;
    right: 10px;
    color: white;
}
@media only screen and (max-width: 500px) {
    .img {
        position: absolute;
        right: 2%;
        bottom: 25%;
        width: 120px;
        height: 120px;
        
    }
    .qr {
        font-size: 15rem;
        color: #FFFFFF;
        opacity: 30%;
        position: relative;
        font-family: 'Monoton', cursive;
        font-weight: 800;
      
    }
    .text {
        position: absolute;
        top: 20%;
        color: white;
        left: 15px;
        font-family: 'Rubik', sans-serif;
        font-size: 30px;
    }
    .text > p {
        display: none;
    }
}